body{
      font-family: Helvetica, sans-serif;
}
/*

nav li a, nav a {
  color: #ffffff;
}
 nav a:hover {
  color: #ffffff;
  font-weight: bold;
}


.navbar-brand {
  font-family: 'ZillaSlab' Georgia, serif;
  font-weight:bolder;
}
*/
